<h1 style="text-align: center;">Welcome to WanderLust</h1>
<% layout("/layouts/boilerplate.ejs") -%>

    <body>
        <h1>All Listings</h1>
        <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
            <% for(let list of allListings) {%>
                <a class="listing-link" href="/listings/<%= list._id %>">
                    <div class="card ">
                        <div class="card-img">
                            <img style="height: 20rem;" src="<%= list.image.url %>" class="card-img-top" alt="listing">
                        </div>
                        <!-- <div class="card-img-overlay">&#10084;</div> -->
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= list.title %>
                                </b> <br>
                                Price:&#8377; <%= list.price.toLocaleString("en-IN")%>/Night
                            </p>
                        </div>
                    </div>
                </a>

                <% } %>
        </div>

    </body>